<div id="heading" >
    <h1>About</h1>
</div>
{% extends "template.html" %}
{% block head %}
    <title>MGA Connect - About</title>
{% endblock %}

{% block content %}
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <div class="about-description">
                    <header>
                        <h2>Why we are here</h2>
                    </header>
                    <p>This website was created by a group of Information Technology students with the goal of
                        helping all MGA students. Here you can connect and collaborate with other students by
                        sharing and studying notes taken by other students. Notes from all different courses and
                        subjects can be easily uploaded and accessed here. Sign up with your MGA email and gain access
                        to all of the features this site has to offer.</p>
                </div><hr />
                <header>
                    <h2>How to Participate</h2>
                </header>
                <h4>
                    <a href="#acc">Account Creation </a>  <strong>||</strong>
                    <a href="#stu">Student Navigation </a>  <strong>||</strong>
                    <a href="#prof">Professor Navigation </a>  <strong>||</strong>
                    <a href="#bts">Behind the Code </a>  <strong>||</strong>
                    <a href="#oos">Future Plans </a>
                </h4>
                <div class="about-videos">
                    <p>insert text here</p>
                    <div id="acc" class="video">
                        <h3>Account Creation</h3>
                        <iframe src="https://www.youtube.com/embed/4A2mWqLUpzw" frameborder="0" allowfullscreen></iframe>
                        <p><br>Here <strong>[name]</strong> demonstrates how to create an account with MGA Connect</p>
                    </div><hr>
                    <div id="stu" class="video">
                        <h3>Site Navigation for students</h3>
                        <iframe src="https://www.youtube.com/embed/4A2mWqLUpzw" frameborder="0" allowfullscreen></iframe>
                        <p><br>Here <strong>[name]</strong> demonstrates how a student would navigate around MGA Connect</p>
                    </div><hr>
                    <div id="prof" class="video">
                        <h3>Site Navigation for professors</h3>
                        <iframe src="https://www.youtube.com/embed/4A2mWqLUpzw" frameborder="0" allowfullscreen></iframe>
                        <p><br>Here <strong>[name]</strong> demonstrates how a professor would navigate around MGA Connect</p>
                    </div><hr>
                    <div id="bts" class="video">
                        <h3>Take a look behind the pages</h3>
                        <iframe src="https://www.youtube.com/embed/4A2mWqLUpzw" frameborder="0" allowfullscreen></iframe>
                        <p><br><strong>James</strong> goes over some of code that makes this website run. He quickly
                            goes over:</p>
                            <ul>
                                <li>the MVC model</li>
                                <li>how the forms work within Flask</li>
                                <li>how Python gets worked in to the standard HTML/CSS of web development</li>
                            </ul>
                    </div><hr>
                    <div id="oos" class="video">
                        <h3>Future Plans for MGA Connect</h3>
                        <iframe src="https://www.youtube.com/embed/4A2mWqLUpzw" frameborder="0" allowfullscreen></iframe>
                        <p><br><strong>[name]</strong> talks about some of the future plans and out of scope goals for MGA Connect</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}