<div id="heading" >
    <h1>About</h1>
</div>
{% extends "template.html" %}
{% block head %}
    <title>MGA Connect - About</title>
{% endblock %}

{% block content %}
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
                <h3 id="top" class="content">
                    <a href="#acc">Website Details </a>  <strong>||</strong>
                    <a href="#acc">Account Creation </a>  <strong>||</strong>
                    <a href="#stu">Student Navigation </a>  <strong>||</strong>
                    <a href="#prof">Professor Navigation </a>  <strong>||</strong>
                    <a href="#bts">Behind the Code </a>
                </h3>
            <div id="acc" class="content">
                <header>
                    <h2>Why we are here</h2>
                </header>
                <p>I can't tell you how many times I've been sitting in class listening to a lecture, and for whatever
                    reason, I lose my spot in the notes and missed something important. Whether a vocabulary term for
                    an upcoming exam or a key line needed to understand a math algorithm, this just happens sometimes.
                    Other times I will be at home studying and notice that I took poor notes the week before and it
                    doesn't help me. What am I supposed to do next?</p>
                <p>MGA Connect was created to fill this niche role by providing a hub for MGA students to go to and
                    collaborate with their fellow classmates. By creating a database for personalized class notes, it
                    simplifies the process for students to go and find those notes they are missing. Our mission is to
                    provide an alternative option for students to work together where applicable to learn to the best
                    of their ability.</p>
                <header>
                    <h2>Note to Professors</h2>
                </header>
                <p>MGA Connect is a completely voluntary service. Professors have the option to opt-out of their having
                    class being available on database. We have a strict policy of not allowing quiz or exam answers and
                    we do not allow students to upload content that is not their own. Everything available on our service
                    is completely user-generated.</p>
                <header>
                    <h2>Future Plans for MGA Connect</h2>
                </header>
                <p>MGA Connect does not have every feature implemented in it's current state that is desired.
                    before a full roll-out can be achieved, there are a small number of features and modifications
                    that should be added to consider this ready for production. Several of these were considered
                    out of scope features that go well beyond what was required for a fully functional website</p>
                <ul>
                    <li><strong>Database Improvements</strong> - In order to handle large amounts of user traffic,
                        a better database implementation will be required. MGA Connect currently uses SQLite and the
                        SQLAlchemy toolkit, which is sufficient for the Capstone project, but insufficient for larger
                        usage.</li>
                    <li><strong>Server Improvements</strong> - Similar to the previous item, this website is hosted
                        on James' personal free Heroku account and that is <i>definitely</i> insufficient in a proper
                        live environment.</li>
                    <li><strong>Proper Access Permissions</strong> - The overall vision of this website involves a resource
                        both students and professors find valuable. I feel like proper permissions for students which
                        only allows them access to classrooms if they are currently enrolled in said class would help
                        fit that goal.</li>
                    <li><strong>Expanded Roles</strong> - A positive future addition would be expanding the roles in
                        general. Having professors grouped by department and class, separating the "Admin" and "Professor"
                        role to be more focused, and creating a "Moderator" role to flag content for admins to review would
                        all be positive quality of life updates.</li>
                    <li><strong>Account Security Measures</strong> - The live version of MGA Connect allows practically
                        anyone to create and access the website. This is purposeful for the scope of the Capstone
                        project, but a feature in the future would see that users signing up would have to confirm
                        their email before an account is created. There is a possibility this feature is added to
                        a separate branch in my <a href="https://github.com/ottter/capstone">GitHub repository</a>
                        that hosts the codebase for this website.</li>
                    <li><strong>URL Security</strong> - There are a view instances of using incremental URLs or URLs
                        that display some kind of information. Specifically, announcements URLs have an incremental
                        naming convention and user profiles have their student ID as the URL. This is not a safe action
                        for a production environment and is purely for the test environment. Any future additions would
                        include user accounts to have a randomly generated string of numbers or hexadecimal that does
                        not display personal information.</li>
                </ul>
                <p> Many, or even all, of the listed improvements above would be solved by implementing this website
                    in to the MGA web ecosystem. With proper access to the professor and student database tables
                    we would not need account creations and access permissions would be much more customizable than
                    what is in place here.</p>
                <p id="#top" style="text-align: right"><a href="#top"><i class="fa fa-sort-up"></i> TOP</a></p>
                <hr />
                <div class="about-videos">
                    <div id="acc" class="video">
                        <h3><strong>Purpose & Account Creation</strong></h3>
                        <iframe src="https://www.youtube.com/embed/xvt8OJU9KVU" frameborder="0" allowfullscreen></iframe>
                        <p><br>In this video, <strong>James</strong> talks about the reason why our group decided to
                            create this website and then demonstrates how to create an account with MGA Connect along
                            with some basic website functionality.</p>
                        <p id="#top" style="text-align: right"><a href="#top"><i class="fa fa-sort-up"></i> TOP</a></p>
                    </div><hr>
                    <div id="stu" class="video">
                        <h3><strong>Site Navigation for students</strong></h3>
                        <iframe src="https://www.youtube.com/embed/k7__4qcM7b4" frameborder="0" allowfullscreen></iframe>
                        <p><br>Here <strong>James</strong> demonstrates how to use the student-specific content on MGA Connect.
                        Students have the ability to read most of the website and download content by fellow students.
                        This video demonstration shows how simple it is for a user to familiarize themselves with the
                        website.</p>
                        <p id="#top" style="text-align: right"><a href="#top"><i class="fa fa-sort-up"></i> TOP</a></p>
                    </div><hr>
                    <div id="prof" class="video">
                        <h3><strong>Site Navigation for professors</strong></h3>
                        <iframe src="https://www.youtube.com/embed/2plCdNxERhA" frameborder="0" allowfullscreen></iframe>
                        <p><br>In this video, <strong>Reid</strong> shows how a professor with admin privileges would
                            navigate around MGA Connect. Admins have special access to specific site features such as
                            creating new classes and posting site announcements. These users are able to delete added
                            classes and posts as well. Admin users have the ability to delete all notes from users as well
                            so if a professor notices that someone uploaded disallowed content, they are able to quickly
                            handle it themselves.</p>
                        <p id="#top" style="text-align: right"><a href="#top"><i class="fa fa-sort-up"></i> TOP</a></p>
                    </div><hr>
                    <div id="bts" class="video">
                        <h3><strong>Take a look behind the pages</strong></h3>
                        <iframe src="https://www.youtube.com/embed/VzoqTms6mFY" frameborder="1" allowfullscreen></iframe>
                        <p><br><strong>James</strong> goes over some of code that makes this website run. He quickly
                            goes over:</p>
                            <ul>
                                <li>the MVC model</li>
                                <li>how the forms work within Flask</li>
                                <li>how Python gets worked in to the standard HTML/CSS of web development</li>
                            </ul>
                        <p><strong>Note from James:</strong>
                        I'm not sure how relevant this is compared to purpose of the presentation, so this might just be
                        considered an extra "because I can" video not counted towards anything. I was trying to keep it
                        all under 10 minutes but I quickly ran out of time. </p>
                        <p id="#top" style="text-align: right"><a href="#top"><i class="fa fa-sort-up"></i> TOP</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}