{% extends 'template.html' %}

{% block head %}
    <title>MGA Connect - {{ user.username }}'s Homepage</title>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block content %}
    <div class="inner">
        <div class="content">
            <div class="flex-container">
                <div>
                    <h2>{{ user.username }}</h2>
                    <p>
                        {% if user.email %}
                            <b>Email: </b>  <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            <i class="icon fa-paper-plane"></i>
                        {% endif %}<br>
                        {% if user.about_me %}<b>About: </b>  {{ user.about_me }}{% endif %}<br>
                        {% if user.last_seen %}<b>Last seen on: </b>{{  moment(user.last_seen).format('LLL') }}{% endif %}
                        {% if current_user.is_authenticated %}
                            {% if user.stu_id == current_user.stu_id %}
                                <br><br><a href="{{ url_for('edit_profile') }}">Edit your profile</a>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div>
                    <p><img src="{{ url_for('static', filename='images/profile_pics/' + user.image_file) }}"></p>
                </div>
            </div>
            <hr>
            {% if uploaded %}
            <div class="content">
                <h3><strong>User Uploads</strong></h3>
                <table>
                <col width="100"><col width="20"><col width="20"><col width="300"><col width="200"><col width="20"><col width="20"> {# I hate having this here but I'm lazy #}
                    <tr>
                        <th>Date Posted</th>
                        <th>Program</th>
                        <th>Course ID</th>
                        <th>Title</th>
                        <th>Filename</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    {% for note in uploaded %}
                        <tr>
                            <td>{{ note.date_posted.strftime('%b %d, %Y') }}</td>
                            <td>{{ note.program }}</td>
                            <td>{{ note.course_id }}</td>
                            <td>{{ note.title }}</td>
                            <td>{{ note.original_filename }}</td>
                            <td><a href="{{ url_for('download_file', filename=note.notes_file) }}" class="icon fa-download"></a></td>
                            {% if current_user.stu_id == note.user_id or current_user.has_role('admin')%}
                                <td><a href="{{ url_for('delete_note', note_id=note.id) }}" class="icon fa-trash"></a></td>
                            {% else %}
                                <td> </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <h3>This user has not uploaded any notes yet</h3>
            {% endif %}
            <hr>
            <form action="#" method="POST">
                <h3><strong>Search for users</strong></h3>
                <input type="email" name="email" placeholder="Enter Email" value="{{ email if email }}" />
                <br>
                <input type="submit" value="Search" />
            </form>
        </div>
    </div>

{% endblock %}