{% extends 'template.html' %}

{% block head %}
    <title>MGA Connect - {{ user.username }}'s Homepage</title>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {#  required to use moment.js  #}
{% endblock %}

{% block content %}
    <div class="inner">
        <div class="content">
            <div class="flex-container">
                <div>
                    <h2>{{ user.username }}</h2>
                    <p>
                        {% if user.email %}
                            <b>Email: </b>  <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            <i class="icon fa-paper-plane"></i>
                        {% endif %}<br>
                        {% if user.about_me %}<b>About: </b>  {{ user.about_me }}{% endif %}<br>
                        {% if user.last_seen %}<b>Last seen on: </b>{{  moment(user.last_seen).format('LLL') }}{% endif %}
                        {% if current_user.is_authenticated %}
                            {% if user.stu_id == current_user.stu_id %}
                                <br><br><a href="{{ url_for('edit_profile') }}">Edit your profile</a>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div>
                    <p><img src="{{ url_for('static', filename='images/profile_pics/' + user.image_file) }}"></p>
                </div>
            </div>
            <hr>
            <form action="#" method="POST">
                <input type="email" name="email" placeholder="Enter Email" value="{{ email if email }}" />
                <br>
                <input type="submit" value="search" />
            </form>
        </div>
    </div>

{% endblock %}