<div id="heading" >
    <h1>Active Classes</h1>
</div>
{% extends "template.html" %}
{% block head %}
    <title>MGA Connect - Classes</title>
{% endblock %}

{% block content %}
    <!-- Heading -->

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <header>
                    <h3>List of classes we offer notes for</h3>
                </header>
            </div>
        </div>
    </section>
{% endblock content %}