<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>MGA Connect</h1>
        <p>A collaborative notes service<br/>
        created by MGA students, for MGA students</p>
    </div>
    <video autoplay loop muted playsinline src="../static/images/banner01.mp4"></video>
</section>
{% extends "template.html" %}

{% block head %}
    <title>MGA Connect</title>
    <meta property="og:title" content="MGA Connect" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
    <meta name="description" content="A website designed for our senior capstone project">
    <meta name="og:description" content="A website designed for our senior capstone project">
{% endblock %}

{% block content %}

<!-- Highlights -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>What we offer</h2>
                <p>A collaborative tool to share and study MGA student's notes. Whether the professor moved too fast,
                    you missed the day in class, or you just didn't take comprehensive enough notes, MGA connect has
                    you covered.</p>
            </header>
            <div class="highlights">
                <section>
                    <div class="content">
                        <header>
                            <a href="register" class="icon fa-id-badge"><span class="label">Icon</span></a>
                            <h3>Create your identity</h3>
                        </header>
                        <p>Use your MGA Email to connect and collaborate with fellow students.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-share-square-o"><span class="label">Icon</span></a>
                            <h3>Share your notes</h3>
                        </header>
                        <p>Upload your notes here to be shared with your classmates.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                            <h3>View classmate's notes</h3>
                        </header>
                        <p>Access notes from all subjects submitted by other students.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-bar-chart"><span class="label">Icon</span></a>
                            <h3>Track your progress</h3>
                        </header>
                        <p>Keep up with faster paced classes by tracking other students chapter notes.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                            <h3>Raise Your Grades</h3>
                        </header>
                        <p>Virtually study and share notes with your classmates</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="register" class="icon fa-plug"><span class="label">Icon</span></a>
                            <h3>Connect with others</h3>
                        </header>
                        <p>Email other students and professors directly from MGA Connect.</p>
                    </div>
                </section>
            </div>
        </div>
    </section>

<!-- CTA -->
    <section id="cta" class="wrapper">
        <div class="inner">
            <h2>Privacy and Upload Restrictions</h2>
            <p>Users are not just allowed to upload any piece of content they want. It is important that every feels safe
            when choosing to download files hosted by MGA Connect. To promise this to our users, we will have moderators
            that manage the uploads, in particular new users. Established users will be given a more hands-off approach
            once we know that they are a quality uploader.</p>
            <p>Another restriction we take seriously is that users are not allowed to upload word-for-word copies of their
                instructors content, such as powerpoints, videos, or assignments. <br>
                <strong>We want our content to be 100% user-generated!</strong>
            </p>
        </div>
    </section>

<!-- Testimonials -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>What MGA students have to say</h2>
                <p>This project would not be any good without the feedback we have received from real Middle Georgia State students.</p>
                <p> Have something you want to say? Email us your review at <strong>mgaconnect@mga.edu</strong></p>
            </header>
            <div class="testimonials">
                <section>
                    <div class="content">
                        <blockquote>
                            <p>MGA Connect is amazing. It helped me work with classmates to create better notes.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image"><a href="{{ url_for('account', stu_id=test1.stu_id) }}">
                                <img src="{{ url_for('static', filename='images/profile_pics/' + test1.image_file) }}" alt="" />
                            </a></div>
                            <p class="credit">- <strong><a href="{{ url_for('account', stu_id=test1.stu_id) }}">
                                Jane Doe</a></strong>, <span>Junior<br/> Macon Campus</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>It's the best website I have ever used. Through MGA Connect I was able to get notes for the class I was too sick to attend.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image"><a href="{{ url_for('account', stu_id=test2.stu_id) }}">
                                <img src="{{ url_for('static', filename='images/profile_pics/' + test2.image_file) }}" alt="" />
                            </a></div>
                            <p class="credit">- <strong><a href="{{ url_for('account', stu_id=test2.stu_id) }}">
                                John Doe</a></strong>, <span>Senior<br/> Warner Robins Campus</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>You told me you would give me $5 gift card to WaHo if I left a positive review.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image"><a href="{{ url_for('account', stu_id=test3.stu_id) }}">
                                <img src="{{ url_for('static', filename='images/profile_pics/' + test3.image_file) }}" alt="" />
                            </a></div>
                            <p class="credit">- <strong><a href="{{ url_for('account', stu_id=test3.stu_id) }}">
                                Marianna Smith</a></strong>, <span>Sophomore<br/> Macon Campus</span></p>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
{% endblock content %}
