<div id="heading" >
    <h1>Announcements</h1>
</div>
{% extends "template.html" %}
{% block head %}
    <title>MGA Connect - Classes</title>
{% endblock %}

{% block content %}
    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content-section">
                {% for post in posts %}
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
                                <a class="mr-2" href="{{ url_for('account', stu_id=post.author.stu_id) }}">{{ post.author.username }}</a>
                                | <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                            </div>
                            <h3><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
                            <p class="article-content">{{ post.content }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}