<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
	<head>
        {% block head %}{% endblock %}
		<meta charset="utf-8" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
        <header id="header">
            <a class="logo" href="{{ url_for('home') }}">Senior Capstone Project</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

		<!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="#">Latest Notes</a></li>
                <li><a href="{{ url_for('class') }}">Latest Classes</a></li>
                <li><a href="{{ url_for('news') }}">Announcements</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.has_role('admin') %}
                        <li><a href="{{ url_for('new_post') }}">Create Announcement</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('account', stu_id=current_user.stu_id) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
                <li><a><input type="search" placeholder="Search" aria-label="Search"></a></li>
            </ul>
        </nav>

        <!-- Content -->
        <div class="inner">
            <div class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>Accumsan montes viverra</h3>
                        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
                    </section>
                    <section>
                        <h4>Official Links</h4>
                        <ul class="alt">
                            <li><a target="#" href="https://www.mga.edu/d2l/index.php">Brightspace/D2L</a></li>
                            <li><a target="#" href="https://www.mga.edu/technology/services/banner.php">SWORDS</a></li>
                            <li><a target="#" href="https://go.activecalendar.com/mga/">Event Calendar</a></li>
                            <li><a target="#" href="https://www.mga.edu/academics/calendars/index.php">Academic Calendar</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>Connect with us</h4>
                        <ul class="plain">
                            <li><a target="#" href="https://twitter.com/MGAstateU"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a target="#" href="https://www.facebook.com/MiddleGeorgiaStateUniversity2"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a target="#" href="https://www.instagram.com/mgastateu/"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a target="#" href="https://github.com/ottter/capstone"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Untitled. Photos <a href="https://unsplash.com">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/moment.js') }}"></script>
</body>
</html>